server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: lb://USER
              predicates:
                - Path=/api/users/**
            - id: product-service-route
              uri: lb://PRODUCT
              predicates:
                - Path=/api/products/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
