spring:
  application:
    name: product-service

  #  h2:
  #    console:
  #      enabled: true

  datasource:
    url: ${PRODUCT_DB_URL}
    driverClassName: org.postgresql.Driver
    username: ${PRODUCT_DB_USERNAME}
    password: ${PRODUCT_DB_USER_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update

  cloud:
    bus:
      enabled: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: ${PRODUCT_PORT}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"
    health:
      show-details: always

  # Actuator - Info
  info:
    app:
      enabled: true
      name: ${spring.application.name}
      description: Product service for eCommerce microservice project
      version: 1.0.0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true