version: '3.8'

services:
  postgres_container:
    image: postgres:latest
    container_name: postgres_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - myapp_network
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin_container:
    image: dpage/pgadmin4:latest
    container_name: pgadmin_container
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres_container
    networks:
      - myapp_network
    volumes:
      - pgadmin_data:/var/lib/pgadmin

networks:
  myapp_network:
    driver: bridge

volumes:
  postgres_data:
    name: p01_ecom_microservice_postgres_volume
  pgadmin_data:
    name: p01_ecom_microservice_pgadmin_volume