<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Configuration Management" type="Application" factoryName="Application">
    <option name="envFilePaths">
      <option value="$PROJECT_DIR$/.env" />
    </option>
    <option name="MAIN_CLASS_NAME" value="in.shubhamprakash681.s13_configmanagement.S13ConfigmanagementApplication" />
    <module name="s13_configmanagement" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>